In [1]:
import pandas as pd
import json
import numpy as np
import collections
from collections import defaultdict
import itertools
from operator import itemgetter

In [38]:
##Pregunta 4
df=pd.read_json('clean_files/data.json')
df1=df[['os','programming_languages']]
df2=df1[df1['programming_languages'].str.contains('C#', regex=False, na=False)]
df2['os'].dropna()
splitlista=[]
for os_list in df2['os']:
    if os_list is None:
        continue
    for os in os_list:
        splitlista.append(os)
cuenta = collections.Counter(splitlista)
os_total = cuenta.most_common(10)

os_list = {}
for os in os_total:
    os_list[os[0]]=[os[1]]

df=pd.DataFrame(os_list)
df.head()

,Windows 7,Windows 8,Windows Desktop,Windows 10,Mac OS X,Android,Microsoft Azure,Windows Desktop,Amazon Web Services (AWS),Windows XP
0,11603,4589,2834,2472,1998,1701,1572,1165,1107,769

In [3]:
from pandas.io.json import json_normalize
json_normalize(os_list)

,Amazon Web Services (AWS),Microsoft Azure,Windows Desktop,Android,Mac OS X,Windows 10,Windows 7,Windows 8,Windows Desktop,Windows XP
0,[1107],[1572],[1165],[1701],[1998],[2472],[11603],[4589],[2834],[769]

In [4]:
##Pregunta 6
df=pd.read_json('clean_files/data.json')
df2=df[['gender','programming_languages']]
df3=df2[df2['programming_languages'].str.contains('Python', regex=False, na=False)]
res=df3.groupby(['gender']).count()

In [5]:
##pregunta 7
def count_language_from_survey(survey_path, result_path):
    df=pd.read_json(survey_path)
    df3=df[['satisfaction','programming_languages']]
    df4=df3[df3['satisfaction']==1]
    splitlista=[]
    for i in df4['programming_languages']:
        if i is not None:
            for  e in i:
                splitlista.append(e)
    minuscula=[]
    [minuscula.append(i.lower()) for i in splitlista]
    lista = [row.split(',') for row in minuscula]
    conteo=[[key, len(list(group))] for key, group in itertools.groupby(sorted(lista, key=itemgetter(0)), itemgetter(0))]
    conteo.sort(key=lambda x: x[-1])
    conteo= conteo[-5:][::-1]
    result=[]
    for language in conteo:
        result.append({language[0]: language[1]})

    with open(result_path, 'w') as outfile:
        json.dump(result, outfile, indent=4)

count_language_from_survey('clean_files/data.json', 'q7.json')

In [31]:
#Q12
def count_language_from_survey(survey_path, result_path):
    df=pd.read_json(survey_path)
    hh=df[['company_size_range','programming_languages']]
    hh2=hh[hh['company_size_range'].str.contains('>1000', regex=False, na=False)]
    splitlista=[]
    for i in hh2['programming_languages']:
        if i is not None:
            for  e in i:
                splitlista.append(e)
    minuscula=[]
    [minuscula.append(i.lower()) for i in splitlista]
    lista = [row.split(',') for row in minuscula]
    conteo=[[key, len(list(group))] for key, group in itertools.groupby(sorted(lista, key=itemgetter(0)), itemgetter(0))]
    conteo.sort(key=lambda x: x[-1])
    conteo= conteo[-5:][::-1]
    result=[]
    for language in conteo:
        result.append({language[0]: language[1]})

    with open(result_path, 'w') as outfile:
        json.dump(result, outfile, indent=4)

count_language_from_survey('clean_files/data.json', 'q12.json')

In [34]:
#Q13
def count_language_from_survey(survey_path, result_path):
    df=pd.read_json(survey_path)

    splitlista=[]
    for i in df['programming_languages']:
        if i is not None:
            for  e in i:
                splitlista.append(e)
    minuscula=[]
    [minuscula.append(i.lower()) for i in splitlista]
    lista = [row.split(',') for row in minuscula]
    conteo=[[key, len(list(group))] for key, group in itertools.groupby(sorted(lista, key=itemgetter(0)), itemgetter(0))]
    conteo.sort(key=lambda x: x[-1])
    conteo= conteo[-20:][::-1]
    result=[]
    for language in conteo:
        result.append({language[0]: language[1]})

    with open(result_path, 'w') as outfile:
        json.dump(result, outfile, indent=4)
        
count_language_from_survey('clean_files/2017.json', 'q13.json')

In [37]:
#Q15
dg= pd.read_json('clean_files/data.json.json')

dg['programming_languages_lenght'] = dg['programming_languages'].apply(lambda x: len(x) if x is not None else None)
dg['programming_languages_lenght'].mean()

3.989702359845716

In [12]:
#Q8
df8=pd.read_json('clean_files/data.json')
dh1=df8[['salary_range','programming_languages']]
dh2=dh1[dh1['programming_languages'].str.contains('java', regex=False, na=False)]
dh2['salary_range'].dropna()
dh2.head()
#splitlista=[]
'''for os_list in df2['sala']:
    if os_list is None:
        continue
    for os in os_list:
        splitlista.append(os)
cuenta = collections.Counter(splitlista)
os_total = cuenta.most_common(10)

os_list = {}
for os in os_total:
    os_list[os[0]]=[os[1]]

df=pd.DataFrame(os_list)
df.head()
'''

"for os_list in df2['sala']:\n    if os_list is None:\n        continue\n    for os in os_list:\n        splitlista.append(os)\ncuenta = collections.Counter(splitlista)\nos_total = cuenta.most_common(10)\n\nos_list = {}\nfor os in os_total:\n    os_list[os[0]]=[os[1]]\n\ndf=pd.DataFrame(os_list)\ndf.head()\n"

In [29]:
#df8=pd.read_json('clean_files/data.json')
dh1=df8[['salary_range','programming_languages']]
dh1.dropna()
dh2=dh1[(dh1['programming_languages'].str.contains('Java', regex=False, na=False) | dh1['programming_languages'].str.contains('java', regex=False, na=False))]

dh2['salary_range'].dropna()
dh2.groupby(['salary_range']).count()

              programming_languages
salary_range
0-20                            630
100-120                        1409
120-140                        1426
20-40                          2346
40-60                          2534
60-80                          2347
80-100                         1897
>140k                          3899